*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'etna-sanserif', sans-serif;
}

/* Navigation Bar horizontal start -- https://www.youtube.com/watch?v=U8smiWQ8Seg&ab_channel=Coding2GO -- For Tutorial CSS in Navigation bar*/

nav {
    background-color: #db062cCC;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1)
    
    /* ORIGINAL
    display: flex;
    justify-content: center;    
    padding: 25px;
    opacity: 0.8; */
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}



nav li {
    height: 100px;
    
}

nav a {
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}
 /*nav li:first-child{
    margin-right: auto;
} 
/* Navigation Bar horizontal end */

.sidebar {
    position: fixed;
    top: 0;
    right: 0; 
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #ce2544;
    backdrop-filter: blur(30px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 1250px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

nav a { 
    color: white;
    margin: auto;
    text-decoration: none;
    font-size: 24px;    
}
.imgheader{
    justify-content: flex-start;
}

.homepageimage {
    min-height: 300px;
    object-fit: cover;
}

.depedbanner {
    padding: 50px;
    background-color: #db062c;
    text-align: center;
    font-family: 'norwester';
    font-size: 50px;
    color: white;
    font-weight: 450;
    margin-top: -10px;
    text-shadow: 2px 2px #ff0000;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}


.arrow-left {
    fill: #062d70;
    width: 35px;
    height: 160px;
}
.arrow-right {
    fill: #062d70;
    width: 35px;
    height: 160px;
}

.arrow-right2 {
    fill: #062d70;
    width: 50px;
    height: 500px;
    display: flex;
}
.arrow-left2 {
    fill: #062d70;
    width: 50px;
    height: 500px;
    display: flex;
}
.depedimages {
    padding-top: 15px;;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    background-color: #eff0f2;
}

 /* Remove logos as the website shrinks*/
@media(max-width: 1241px){
    .hideonmobile1{
        display: none;
    }
}

@media (max-width: 1089px) {
    .hideonmobile2{
        display: none;
    }
}

@media (max-width: 939px) {
    .hideonmobile4{
    display: none;
}
}


@media (max-width: 789px){

    .hideonmobile6{
    display: none;
}
}


@media (max-width: 679px){
    .hideonmobile5{
    display: none;
}
}

@media (max-width: 591px){
    .hideonmobile3{
    display: none;
}
}

 /*remove white spaces around the website */
 html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }

 .aboutusbanner {
    padding: 40px;
    background-color: #062d70;
    text-align: center;
    font-family: 'norwester';
    font-size: 50px;
    color: white;
    font-weight: 450;
    margin-top: -10px;
    text-shadow: 2px 2px #274c86;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    
 }
 @font-face {
    font-family: 'norwester';
    src: url(/images/norwester.otf);
}

.aboutuscontainer1 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #eff0f2;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
       
}

.aboutuscontainer2 {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #eff0f2;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 20px;
    flex-shrink: 0;
    margin: 0;
    
}

.aboutusimg1 {
    padding-right: 20px;
    padding-bottom: 20px;
    display: block;
}
.aboutusimg3 {
    padding-right: 20px;
    padding-bottom: 20px;
    display: block;
}

/*laptop version*/
@media (max-width: 588px){
    .aboutusimg1, 
    .aboutusimg2, 
    .aboutusimg3, 
    .aboutusimg4 {
        width: 450px;
        height: 400px;
    }
}

/*mobile version aboutusimages will shrink*/
@media (max-width: 425px){
    .aboutusimg1, 
    .aboutusimg2, 
    .aboutusimg3, 
    .aboutusimg4 {
        width: 350px;
        height: 300px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}






@media (max-width: 905px){
    .aboutuscontainer1, .aboutuscontainer2{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        padding-bottom: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 600px){
}

.advisoryimage{
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #eff0f2;
    justify-content: space-between;
}

.hideonadvisory1,
.hideonadvisory2,
.hideonadvisory3,
.hideonadvisory4,
.hideonadvisory5 {
    width: 340px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1790px){
    .hideonadvisory5{
        display: none;
    }
}
@media (max-width: 1455px){
    .hideonadvisory4{
        display: none;
    }
}
@media (max-width: 1117px){
    .hideonadvisory3{
        display: none;
    }
}
@media (max-width: 771px){
    .hideonadvisory1{
        display: none;
    }
}
/*shrinks the advisoryimage for mobile*/
@media (max-width: 360px){
    .hideonadvisory2{
        width:  400px;
        height: 380px;
        margin: 0;
        padding: 0;
    }
    .advisoryimage {
        max-height: 400px;
    }
    .arrow-left2,
    .arrow-right2{
        height: 370px;
        width: 30px;
    }
    

}






@font-face {
    font-family: etna-sanserif;
    src: url(/images/Etna-Sans-serif.otf);
}
@font-face {
    font-family: canvasans-regular;
    src: url(/images/CanvaSans-Regular9755562880743818424.2de.2de498afbe8ce167560d5df6489c2042.ttf);
}
.footer{
    padding: 20px;
    background-color: #062d70;
    text-align: center;
    font-family: 'canvasans-regular';
    font-size: 30px;
    color: white;
    font-weight: 450;
    margin-top: -10px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5)          
    
}



.footertext, #footertext3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerimg {
    align-items: center;
   
    padding: 10px
}


/* Footer media for mobile */
@media (max-width:1114px){
    .footerattributes{
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      
    }
    .footertext {
        display: flex;
        text-align: none;
      
        align-items: center;
        justify-content: space-evenly;
    }
    .footerimg{
        transform: translate(-170px, 0px);
    }
    #footertext1{
        transform: translate(-20px, -50px);
    }
    #footertext2{
        transform: translate(30px, -50px);
    }
    #footertext3{
        transform: translate(35px, -65px);
        font-size: 20px;
        text-align: initial;
    }
    }
    @media (max-width:1114px){
        .footerattributes{
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          
        }
        .footertext {
            display: flex;
            text-align: none;
          
            align-items: center;
            justify-content: space-evenly;
        }
        .footerimg{
            transform: translate(-170px, 0px);
        }
        #footertext1{
            transform: translate(-20px, -50px);
        }
        #footertext2{
            transform: translate(30px, -50px);
        }
        #footertext3{
            transform: translate(35px, -65px);
            font-size: 20px;
            text-align: initial;
        }
        }


.footerattributes {

    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

/*   Tablet width query shrinks the banners and logo images */
@media (max-width: 768px){
    .depedbanner, .aboutusbanner {
        padding: 30px;
        font-size: 30px;
}
}
@media (max-width: 425px){

    #shrinklogo {
        width: 120px;
        height: 120px;
        padding-bottom: 0px;
        flex-shrink: 0;
    }
    .depedimages{
        height: 130px;
    }
    .arrow-left, .arrow-right{
        height: 120px
    }
}


@media (max-width: 537px){

    .nav li {
        height: 70px;
    }
    nav a { 
        color: white;
        margin: auto;
        text-decoration: none;
        font-size: 18px;    
    }
    nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content:flex-start;
        align-items: center;    
    }
}

/* LAPTOP SIZE */
@media (max-width: 1024px){




}